@charset "UTF-8";

.container {
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.action-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-button {
  display: inline-block;
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: white;
  color: red;
  border: 1px solid red;
}

.action-button:hover {
  background-color: red;
  color: white;
}

.select-date {
  padding: 0.6rem 0.9rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.histories {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.history-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #ccc;
}

.history-box .image {
  width: 35%;
  aspect-ratio: 1/1;
}

.image img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  width: 60%;
}
