@charset "UTF-8";

.action-group {
  margin-top: 0.3rem;
  display: none;
  justify-content: center;
  column-gap: 1.5rem;
  width: 100%;
  align-items: center;
}

.action-group.disp {
  display: flex;
}

.action-button {
  padding: 0.6rem 0.9rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
  background-color: white;
}

.action-button.order {
  color: #ffb996;
  border: 1px solid #ffb996;
}
.action-button.cart {
  color: #9ed49e;
  border: 1px solid #9ed49e;
}

.action-button.order:hover {
  background-color: #ffb996;
  color: white;
}
.action-button.cart:hover {
  background-color: #9ed49e;
  color: white;
}

.cart-detail-list {
  width: 88%;
  max-width: 560px;
  margin: 1.1rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

.box {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.4rem 0.3rem;
  border-bottom: 3px solid #ccc;
}

.image {
  width: 35%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
}

.right {
  width: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.right .productName {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.counter {
  display: flex;
}

.counter input {
  width: 50px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ccc;
}

.counter button {
  width: 50px;
  height: 30px;
  border: 2px solid #ed1c24;
  cursor: pointer;
}

.counter .add {
  border-radius: 0 7px 7px 0;
}

.counter .sub {
  border-radius: 7px 0 0 7px;
}

.counter .sub.disabled {
  pointer-events: none;
  border: 1px solid #ccc;
  background-color: white;
}

@media screen and (max-width: 500px) {
  .cart-detail-list {
    max-width: 92%;
  }

  .right h2 {
    font-size: 1.1rem;
  }

  .right h3 {
    font-size: 1rem;
  }

  .right h4 {
    font-size: 0.9rem;
  }
}
