.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  padding: 1.4rem 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  width: 90%;
  box-shadow: 7px 7px 19px 0px #777777;
  border-radius: 10px;
}

.form.login {
  max-width: 400px;
}

.form.register {
  max-width: 500px;
}

.head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 0.5rem;
}

.head h3 {
  font-size: 1.5rem;
  font-weight: normal;
}

.lock-icon {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.head.login .lock-icon {
  background-color: #9ed49e;
}

.head.register .lock-icon {
  background-color: #e192dd;
}

.input-area {
  display: flex;
  flex-direction: column;
  row-gap: 0.1rem;
}

.input-area label {
  font-size: 0.85rem;
}

.input-area input {
  padding: 0.7rem 0.6rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid #ccc;
}

.input-area input:focus {
  border: 2px solid skyblue;
}

.btn-group {
  width: 100%;
  display: flex;
  margin-top: 0.8rem;
  align-items: flex-start;
  justify-content: space-between;
}

.btn-group .btn {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  cursor: pointer;
}

.btn-group .btn::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translatex(-100%);
  transition: all 0.3s;
  z-index: -1;
  border-radius: 10px;
}

.btn-group .btn.register {
  border: 1px solid #e192dd;
  color: #e192dd;
}
.btn-group .btn.login {
  position: relative;
  border: 1px solid #9ed49e;
  color: #9ed49e;
}

.btn-group .btn.login input,
.btn-group .btn.register input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
}

.btn-group .btn.register::before {
  background-color: #e192dd;
}
.btn-group .btn.login::before {
  background-color: #9ed49e;
}

.btn-group .btn:hover::before {
  transform: none;
}

.btn-group .btn:hover {
  color: white;
}

@media screen and (max-width: 430px) {
  .form.login {
    box-shadow: none;
  }
}
@media screen and (max-width: 600px) {
  .form.register {
    box-shadow: none;
  }
}
