@charset "UTF-8";
.details {
  transition: 0.3s;
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}
.details[open] {
  margin-top: 0;
  padding-bottom: 10px;
}
.details-summary {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
  transition: 0.3s;
  transform: translateY(10px);
  background-color: #00a5a0;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  &:hover {
    cursor: pointer;
  }
}
.details-summary::-webkit-details-marker {
  display: none;
}
.details[open] .details-summary {
  transform: translateY(0);
}
.details-content {
  padding: 20px;
  background-color: #bee1de;
  border-bottom: 2px solid #00a5a0;
  border-left: 2px solid #00a5a0;
  border-right: 2px solid #00a5a0;
}

/* 以下の記述は不要です */
body {
  margin: 20px;
}
