@charset "UTF-8";

.container {
  width: 90%;
  max-width: 560px;
  margin: 0.6rem auto 2rem auto;
  display: flex;
  flex-direction: column;
  row-gap: 0.4rem;
}

.details {
  width: 100%;
  transition: 0.3s;
  overflow: hidden;
  margin-top: -10px;
  padding-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.details-summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #9ed49e;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  outline: none;
  cursor: pointer;
}
.details-summary::-webkit-details-marker {
  display: none;
}

.details .details-summary .summary-content {
  width: calc(100% - 25px);
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
  justify-content: center;
}

.details .details-summary .icon {
  display: inline-block;
  transition: transform 0.4s;
}
.details[open] .details-summary .icon {
  transform: rotate(180deg);
}

.orderDetailList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0.6rem 0;
  row-gap: 0.5rem;
}

.orderDetailBox {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 2px solid #ccc;
}

.image {
  width: 35%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  row-gap: 0.3rem;
  width: 60%;
}

.content p {
  font-weight: bold;
}

.content h3,
p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 500px) {
  .details-summary {
    font-size: 0.9rem;
  }
  .content h3 {
    font-size: 1rem;
  }
  .content p {
    font-size: 0.7rem;
  }
  .container {
    width: 95%;
  }
}
