@charset "UTF-8";

.zentai{
	display: flex;
	flex-wrap: wrap;
	width:  100%;
	justify-content: center;
	margin-top: 50px;
}

.box{
	width: 18%;
	margin: 30px 5px;
}

.image img{
	max-width: 100%;
	height: auto;
}

.kazu{
	display:flex;
	white-space: nowrap;
	
}

