@charset "UTF-8";


.top-scroll-button {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: skyblue;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 10%;
	bottom: 10%;
	opacity: 0;
	pointer-events: none;
	transition: all .3s;
}

.top-scroll-button:hover {
	background-color: lightseagreen;
}

.top-scroll-button.disp {
	pointer-events: auto;
	opacity: 1;
}